*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    display: flex;
    height: calc(100vh - 100px);
}
/*side-bar*/
.sidebar{
    background-color: #000000;
    width: 300px;
    padding:10px 10px 0 15px;
    overflow-y: auto;
}

/*menu*/
.menu{
    display: flex;
    flex-direction: column;
    
}

#logo{
    width: 70%;
    margin-bottom: 20px;
}

.logo-small{
    display: none;
}

.menu img{
    width: 15%;
    vertical-align: middle;
}

.active{
    color: white;
    border-left: 2px solid greenyellow;
    margin-left: -5px;
    padding-left: 5px;
}

.no-active{
    color: #4f4f4f;
}

.no-active img{
    filter: invert(0.50)
}



/*playlist*/
.playlist{
    margin-top: 15px;
    color: #4f4f4f;
    max-height: 300px;
    
}
.playlist h4{
    color: white;
    margin-bottom: 10px;
}

.crea-list i{
    font-size: 40px;
    color: #a3a3a3;

}

.crea-list span{
    vertical-align: super;
    color: #a3a3a3;
}


/*userinfo*/
.user-info{
    margin-top: 150px; 
}

.user{
    margin-top: 10px;
    color: white;
}

.user span{
    vertical-align: super;
    margin-left: 5px;
}

.user img{
    width: 10%;
    background-color:#a3a3a3;
    border-radius: 50%;
}


/*topbar*/
.topbar{
    background-color:#080b12;
    width: 100%;
    height: 8vh;
    position: fixed;
    z-index: 1;
    opacity: 0.75;
}

/*main-section*/
.main-section{
    background-color:#141922;
    width: calc(100% - 150px);
    overflow-y:auto;
}





/*player*/
.player{
 background-color: #282828;
 width: 100%;
 height: 100px
}


/*attribute*/
a{
    margin-top: 10px;
    text-decoration: none;
    color: #4f4f4f;
}

span{
    font-size: 15px;
    font-weight: 700;
}

ul{
    list-style-type: none;
}

li{
    margin-top: 10px;
}

.line{
    border-bottom: 1px solid  #4f4f4f;
    width: 100%;
    padding-top: 10px;
}



/*responsive*/

@media screen and (max-width: 576px) {          /*xs*/

    .sidebar{
        width: 50px;
    }

    .logo-small{
        display: block;
    }

    .menu img{
        width: 100%;
    }

    .active{
        border: 0px;
    }


   .ds-none{
    display: none;
   }

   .user-info{
    text-align: center;
    margin-top: 530px;
   }

   .user img{
    width: 80%;
   }


    .main-section{
        width: calc(100% - 50px);
    }
    
}

