*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.wrapper{
    display: flex;
    height: calc(100vh - 70px);
}

/*side-bar*/
.sidebar{
    background-color: #000000;
    width: 200px;
    padding:10px 10px 0 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*menu*/
.menu{
    display: flex;
    flex-direction: column;
    height: 450px;
    overflow-y:hidden ;
}

#logo{
    width: 70%;
    margin-bottom: 20px;
}

.logo-small{
    display: none;
}

.menu img{
    width: 15%;
    vertical-align: middle;
}

.no-active img{
    filter: invert(0.50)
}



.no-active:hover .menu-img{
    filter: invert(0);
}

/*playlist*/
.playlist{
    margin-top: 15px;
    color: #4f4f4f;
    overflow-y:hidden ; 
    height: 100%;
}

.playlist h4{
    color: white;
    margin-bottom: 10px;
}

.crea-list i{
    font-size: 40px;
    color: #a3a3a3;
}

.crea-list span{
    vertical-align: super;
    color: #a3a3a3;
}

.playlist ul{
    height: 80%;
    overflow-y: auto;
}

/*userinfo*/
.user-info{
    margin-top: 10px;
}


.user{
    margin-top: 10px;
    color: white;
}

.user span{
    vertical-align: super;
    margin-left: 5px;
}

.user img{
    width: 10%;
    background-color:#a3a3a3;
    border-radius: 50%;
}

/*main-section*/
.main-section{
    background-color:#141922;
    width: calc(100% - 200px);
    overflow-y:auto;
}

/*topbar*/
.topbar{
    background-color:#080b12;
    width: calc(100% - 200px);
    height: 80px;
    position: fixed;
    z-index: 1;
    opacity: 0.75;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.topbar a{
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px 15px;
    margin-right: 55px;
    font-size: small;
    font-weight: 700;
}

.nav-bar{          /*nav-bar*/
    display: flex;
    justify-content: center;
    color:#a3a3a3;
    margin-top: 100px;
    width: auto;
}

.nav-bar ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-bar li{
    margin: 10px 10px;
}

/*album */
.music{
    margin: 10px 10px;
}
.music h3{
    font-size: 30px;
    color: white;
    font-weight: 800;
}

.music img{
    width: 100%;
    margin-bottom: 10px;
}

.artist img{
    border-radius: 50%;
}

.music h4{
    color: white;
    padding-bottom: 5px;
}

.music span{
    color: #a3a3a3;
}

.music-content{
 text-align: center;
    
}

.album{
    width: calc(100vw /8);
    min-width: 150px;
    margin-top: 30px;
    cursor: pointer;
}

.album-list{
    display: flex;
    justify-content: space-around;
}

.for-you-list{
    display: flex;
}

.for-you-list .album{
    margin-right: 20px;
}

.for-you, .artist{
    margin-top: 20px;
}

/*player*/
.player{
 background-color: #282828;
 width: 100%;
 height: 70px;
 display: flex;
 align-items: center;
 color: white;
 justify-content: space-between;
 position: fixed;
 bottom: 0;
 left: 0;
}

.col-song{                 /*song*/
    display: flex;
    align-items: center;
    width: 25%;
    margin-left: 5px;
}

.player img{
    width: 40px;
    margin-right: 10px
}
.player a{
    font-size: 10px;
    color: #a3a3a3;
}

.song-icon{
    margin-left: 10px;
    color:#a3a3a3;
}

.col-player{                   /*player-bar*/
    width: 50%;
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.col-icon{
    text-align: center;
    margin-bottom: 5px;
    cursor: pointer;
}

.col-icon i{
    margin: 0 5px;
    font-size: larger;
}

.player-bar{
    display: flex;
    align-items: center ;
    justify-content: center;
}

.player-bar span{
    color: white;
    margin: 0 5px;
}

.player-line{
    width: 60%;
    background:rgb(82, 82, 82);
    position:relative;
    height:5px;
    border-radius: 20px;
    cursor: pointer;
}

.player-line:hover .bar-cursor{
    position: absolute;
    left: 29%;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background-color: white;
    bottom: -4px;
    
}

.played-time{
    background:rgb(182, 182, 182);
    width:30%;
    height:5px;
    position:absolute;
    border-radius: 20px;
}


.player-line:hover .played-time{
    background-color: greenyellow;
}

.col-volume{                     /*volume*/
    width: 25%;
    display:flex ;
    align-items: center;
    justify-content:flex-end;
    margin-right: 5px
}

.col-volume i{
    margin: 0 5px;
}

.volume-bar{
    width: 30%;
    background:rgb(82, 82, 82);
    position:relative;
    height:5px;
    border-radius: 20px;
    cursor: pointer;
}

.volume-bar-used{
    background:rgb(182, 182, 182);
    width: 15%;
    height:5px;
    position:absolute;
    border-radius: 20px;
}

.volume-bar:hover .volume-bar-used{
    background-color: greenyellow;
}

.volume-bar:hover .bar-cursor-volume{
    position: absolute;
    left: 10%;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background-color: white;
    bottom: -84%;

}

/*attribute*/
a{
    margin-top: 10px;
    text-decoration: none;
    color: #4f4f4f;
    cursor: pointer;
}

span{
    font-size: 15px;
    font-weight: 700;
}

ul{
    list-style-type: none;
}

li{
    margin-top: 10px;
}

.line{
    border-bottom: 1px solid  #4f4f4f;
    width: 100%;
    padding-top: 10px;
}

.active{
    color: white;
    border-left: 2px solid greenyellow;
    padding-left: 5px;
}

.no-active{
    color: #4f4f4f;
}

.active-under{
    color: white;
    border-bottom: 2px solid greenyellow;
    margin-left: -5px;
    padding-left: 5px;
}

.link-white:hover{
    color: white;
}

.zoom:hover {
    transform: scale(1.5);
}

.album-img:hover img{
    opacity: 0.5;
}

.label{
    opacity: 0;
    color: white;
    position: absolute;
    top: 37%;
    right: 40%;
    font-size:xxx-large ;
}

.album-img:hover .label{
    opacity: 1;
}

.album-img{
    position: relative;
}



/*responsive*/

@media screen and (max-width: 576px) {          /*xs*/

    .sidebar{
        width: 50px;
    }

    .logo-small{
        display: block;
    }

    .menu img{
        width: 100%;
    }

    .active{
        border: 0px;
    }

   .ds-none{
    display: none;
   }

   .user-info{
    text-align: center;
   }

   .user img{
    width: 80%;
   }

    .main-section{
        width: calc(100% - 50px);
    }
    
    .topbar{
        width: calc(100% - 50px);
    }

    .col-name{
        display: flex;
        flex-direction: column;
    }
}


@media screen and (max-width: 768px) {       /*s*/
    .song-icon{
        display:flex ;
        flex-direction: column;
        margin-left: 5px;
    }

    .album{
        min-width: 180px;
    }
}


@media screen and (max-width: 992px) {       /*md*/
    .album-list{
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .album{
        margin-right: 20px ;
    }
}   