*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    display: flex;
    height: calc(100vh - 70px);
}
/*side-bar*/
.sidebar{
    background-color: #000000;
    width: 200px;
    padding:10px 10px 0 15px;
    overflow-y: auto;
}

/*menu*/
.menu{
    display: flex;
    flex-direction: column;
    
}

#logo{
    width: 70%;
    margin-bottom: 20px;
}

.logo-small{
    display: none;
}

.menu img{
    width: 15%;
    vertical-align: middle;
}

.active{
    color: white;
    border-left: 2px solid greenyellow;
    margin-left: -5px;
    padding-left: 5px;
}

.no-active{
    color: #4f4f4f;
}

.no-active img{
    filter: invert(0.50)
}



/*playlist*/
.playlist{
    margin-top: 15px;
    color: #4f4f4f;
    
    
}
.playlist h4{
    color: white;
    margin-bottom: 10px;
}

.crea-list i{
    font-size: 40px;
    color: #a3a3a3;

}

.crea-list span{
    vertical-align: super;
    color: #a3a3a3;
}


/*userinfo*/
.user-info{
    margin-top: 20rem; 
}

.user{
    margin-top: 10px;
    color: white;
}

.user span{
    vertical-align: super;
    margin-left: 5px;
}

.user img{
    width: 10%;
    background-color:#a3a3a3;
    border-radius: 50%;
}

/*main-section*/
.main-section{
    background-color:#141922;
    width: calc(100% - 200px);
    overflow-y:auto;
}

/*topbar*/
.topbar{
    background-color:#080b12;
    width: calc(100% - 200px);
    height: 8vh;
    position: fixed;
    z-index: 1;
    opacity: 0.75;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.topbar a{
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px 15px;
    margin-right: 20px;
    font-size: small;
    font-weight: 700;
}


/*player*/
.player{
 background-color: #282828;
 width: 100%;
 height: 70px;
 display: flex;
 align-items: center;
 color: white;
 justify-content: space-between;
}

.col-song{
    display: flex;
    align-items: center;
    width: 25%;
    margin-left: 5px;
    
}

.player img{
    width: 40px;
    margin-right: 10px
}
.player span{
    font-size: 10px;
    color: #a3a3a3;
}

.song-icon{
    margin-left: 10px;
    color:#a3a3a3;
}


.col-player{
    width: 50%;
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.col-icon{
    text-align: center;
    margin-bottom: 5px;
}

.col-icon i{
    margin: 0 15px;
    font-size: larger;
}


.player-bar{
    display: flex;
    align-items: center ;
    justify-content: center;
}

.player-bar span{
    color: white;
    margin: 0 5px;
}



.player-line{
    width: 60%;
    background:rgb(82, 82, 82);
    position:relative;
    height:5px;
    border-radius: 20px;
}


.player-line:before {
    content:'';
    background:rgb(182, 182, 182);
    width:30%;
    height:5px;
    position:absolute;
    border-radius: 20px;
}


.col-volume{
    width: 25%;
}




/*attribute*/
a{
    margin-top: 10px;
    text-decoration: none;
    color: #4f4f4f;
}

span{
    font-size: 15px;
    font-weight: 700;
}

ul{
    list-style-type: none;
}

li{
    margin-top: 10px;
}

.line{
    border-bottom: 1px solid  #4f4f4f;
    width: 100%;
    padding-top: 10px;
}



/*responsive*/

@media screen and (max-width: 576px) {          /*xs*/

    .sidebar{
        width: 50px;
    }

    .logo-small{
        display: block;
    }

    .menu img{
        width: 100%;
    }

    .active{
        border: 0px;
    }


   .ds-none{
    display: none;
   }

   .user-info{
    text-align: center;
    margin-top: 530px;
   }

   .user img{
    width: 80%;
   }


    .main-section{
        width: calc(100% - 50px);
    }
    
    .topbar{
        width: calc(100% - 50px);
    }

    .col-name{
        display: flex;
        flex-direction: column;
    }
}


@media screen and (max-width: 768px) {       /*s*/
    .song-icon{
        display:flex ;
        flex-direction: column;
        margin-left: 5px;
    }

   
    
}


@media screen and (max-width: 992px) {         /*md*/
   

}
